<h5>Articles</h5>
<ul class="nav flex-column">
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="oi oi-pie-chart"></span> Dashboard
        </NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="/articles/search">
            <span class="oi oi-magnifying-glass"></span> Search articles
        </NavLink>
    </li>
</ul>
<h5>Mys Articles</h5>
<ul class="nav flex-column">
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="/articles/create">
            <span class="oi oi-plus"></span> Add new
        </NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="/articles/pending">
            <span class="oi oi-clock"></span> Pending
        </NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="/articles/unpublished">
            <span class="oi oi-warning"></span> Unpublished
        </NavLink>
    </li>
</ul>
<h5>Settings</h5>
<ul class="nav flex-column">
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="/user/profile">
            <span class="oi oi-person"></span> Profile
        </NavLink>
    </li>
</ul>
